rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
    	function isAdmin(){
      	return request.auth != null
        		&& request.auth.uid != null
            && firestore.exists(/databases/(default)/documents/auths/$(request.auth.uid))
            && firestore.get(/databases/(default)/documents/auths/$(request.auth.uid)).data.authType == "ADMIN";
			}

    	allow read: if request.auth != null;
      allow write: if isAdmin();
    }
  }
}